<div class="container">
    <div class="row">
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100 text-center">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center p-1"><button class="btn btn-outline-dark mt-auto" href="#">Delete From Wishlist</button></div>
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" href="#">Add Wishlist</button>
                                </div>
                            </div>
                        </div>

    </div>
</div>
<div class="container text-center p-5">
    <img src="https://cdn-icons-png.flaticon.com/512/4379/4379925.png" alt="" height="200px" class="p-3 text-center">
    <p class="text-center">Your wishlist was empty</p>
    <button class="btn btn-dark m-3 btn-center"> Expolore More</button>
</div>