*{
    margin: 0px;
    padding: 0px;
}
.home{
    background-image: url('https://cdn.pixabay.com/photo/2024/02/19/06/55/ai-generated-8582674_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.h3{
    align-items: center;
    text-align: center;
}
.form{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(127, 255, 212, 0.425);
    box-shadow: 2px 4px 4px;
  }

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .book{
    background-color: rgba(127, 255, 212, 0.425);
  }
  .view{
    background-color: rgba(127, 255, 212, 0.404);
  }
  .view h1{
    text-decoration: underline;
  }
  .footer{
    background-color: rgba(1, 255, 170, 0.399);
  }
  .head{
    background-color: rgba(1, 255, 170, 0.399);
  
  }