*{margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;

}
body{
    background-color: rgba(138, 37, 37, 0.274);
}
header{
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgba(165, 42, 42, 0.404);
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li{
    margin: 20px;
    list-style: none;
}
h1{
    font-family: "Notable", sans-serif;
    padding: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-shadow: 3px 4px 5px white;
    text-decoration: underline;
}
#banner{width: 100%;  
    background-image: url("https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 800px;
    background-attachment: fixed;
    object-fit: fill;
    
}
#head{

    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    
}
.books{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 0px;
}
.cls img{
    width: 200px;
    margin: 40px;
}
.cls{
    border: 2px solid black;
    margin: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(85, 17, 17, 0.342);
}

.row{
    text-align: center;
    padding: 20px;
    margin: 20px;
}
button:hover{
    background-color: rgba(206, 2, 2, 0.315);
}
.footer{
    display: flex;
    padding: 20px;
    justify-content: space-between;
} 
.foot{
     margin:20px;
    padding: 20px;
    padding-top:5px

}
.foot h3{
    text-decoration: underline;
}

@media screen and(max-width:400px){
*{  width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;

}
body{
    width: 100%;
    background-color: rgba(138, 37, 37, 0.274);
}
header{
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgba(165, 42, 42, 0.404);
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li{
    width: 100%;
    margin: 20px;
    list-style: none;
}
h1{
    width: 100%;
    font-family: "Notable", sans-serif;
    padding: 20px;
}
a{
    width: 100%;
    text-decoration: none;
}
a:hover{
    width: 100%;
    text-shadow: 3px 4px 5px white;
    text-decoration: underline;
}
#banner{width: 100%;  
    background-image: url("https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 800px;
    background-attachment: fixed;
    object-fit: fill;
    
}
#head{
     width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    
}
.books{width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 0px;
}
.cls img{
    width: 100%;

    margin: 30px;
}
.cls{
    width: 100%;
    border: 2px solid black;
    margin: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(85, 17, 17, 0.342);
}

.row{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
button:hover{
    background-color: rgba(206, 2, 2, 0.315);
}
.footer{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
} 
.foot{
    width: 100%;
     margin:20px;
    padding: 20px;
    padding-top:5px

}
.foot h3{
    width: 100%;
    text-decoration: underline;
}
    
}










